.bounce {
	animation-name: bounce;
	animation-timing-function: ease;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform-origin: bottom;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10%);
	}

	100% {
		transform: translateY(0);
	}
}
